{% extends "tipOfTheDay/base.htm" %}
{% block title %}Add or Edit a Tip{% endblock %}

{% block header %}Add or Edit a Tip{% endblock %}
{% block main %}
{% if errors %}
<div id="errors" role="region" class="row">
<h2 class="col-nd-1" id="init-focus"> Errors: Please fix all errors in the list below, and try to resubmit the form. </h2>
<ul class="col-nd-1">
{% for field in form %}
{% for i in field.errors %}
<li> <a href="#{{field.id_for_label}}">{{field.label}}: {{i}}</a></li>
{% empty %}

{% endfor %}

{% endfor %}
</ul>
<h2 class="col-nd-1"> Form: This is the form where one or more errors exist.</h2>
</div>
{% endif %}

<form method="post" action="{% url send_to_url %}" {{other_attrs|safe}} class="form-horizontal">
{% csrf_token %}
<input type="hidden" name="pk" value="{{pk}}"/>
				<div id="top" class="form-group">
{% for field in form %}
					<div class="col-xs-2 col-xs-offset-1">
						<p> {{field.help_text|safe}}</p>
						<label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
						{{ field }}
					</div>
{% endfor %}
</div>
<input type="submit"/>
</form>

<script>
{% if errors %}
$("document").ready(function(){document.getElementById('init-focus').focus();});
{% else %}
$("document").ready(function(){
	var title = document.getElementById('id_title');
	title.setAttribute("autofocus");
});
{% endif %}
</script>
{% endblock %}