{% extends "personal/base.htm" %}
{% block title %}Derek Riemer Biography{% endblock %}
{% block header %} Derek Riemer.{% endblock %}
{% block main %}
<p>
Hi, I am Derek Riemer.
I was born blind due to an eye deformity (I really don't have any sort of diagnosis, it was just a chance event with a less than 100,000 odds of happening to any random individual). 
I grew up in beautiful Arvada Colorado, with my older sister Alicia, mom Stacy and dad Scott, and many other family members close by. 
My family is verry active in the outdoors. At the age of 3, my family taught me how to ski, and it was history from there. 
I attended Anchor center for Blind Children (a preschool for the blind) until the age of 5. 
In grade school, I joined the Cub Scouts, and continued with that through out school. 
I participated in Judo, a Japanese  marshal art, for several years, where I learned many valuable lessons. I also learned about self defense and self respect there, which are both lessons that I feel all people should learn.
I joined band in 5th grade, which helped me appreciate classical music. Band was an integral  part of my development and self-confidence.
In high school, I joined the Ralston Valley high school marching band, and marched for my entire high school career. The marching band made state all 4 years, and I have performed in marching band at many highschool stadiums including the csu football stadium, and the Airforce academy stadium. <a href="#band_performances"> Click here to find links of marching band shows I participated in.</a>
I also participated in restling for 1 year of high school.
Throughout my childhood, I attended many boy scout camps, the most noteworthy of which included:
<ul>
<li> Big Horn leadership Trainin,</li>
<li> A canoe trip to the Boundery Waters of Minisota.</li>
<li> A week long backpacking trip in the Windy Peaks wilderness of Colorado.</li>
<li> Several summer camps and other camps.</li>
</ul>
In boy scouts I camped over 90 nights, and held leadership positions Including: Assistant Senior Patrol Leader, Order of the Arrow representative, Patrol leader, and Assistant Patrol Leader.
One of my greatest achievments in life was obtaining the rank of eagle scout, which included completing a project with over 300 hours of labor. My project was to extend a Gazebo at Anchor Center for Blind Children so that it included sensory rich, and unique play equipment for blind children to play on. This project was especially rewarding for me because I attended Anchor Center for Blind Children in preschool. Anchor Center is a preschool for blind children that serves children until they join kindergarden. They teach blind children techniques to use throughout their life, like pouring liquids, finding things around them, and a lot more. The preschool has helped many children for over 30 years. Anchor center also helps parents learn techniques to teach a child with little or no vision how to do things in a sight oriented world.
I am a 3rd year undergraduate student at the University of Colorado at Boulder, majoring in a B.S. of Computer Science.
My hobbies include: Skiing, bicycling, rock climbing, computer programming, playing music, writing poetry, and much more. 
I have volunteered for organizations including Anchor Center for Blind Children, the NVDA project, and the Council for Inclusion, Leadership, and Advocassy. 
I have participated in research projects at university of Colorado Boulder.
Notable research includes,
<ul>
<li>
TheTactile book project. <br/> This project aimed to use 3d printing to produce tactile books for blind children, to see if we could lower the cost of producing images for blind children. We produced a version of Goodnight Moon, and a version of <a href="https://en.wikipedia.org/wiki/Harold_and_the_Purple_Crayon">Harold and the Purple Crayon</a>
</li>
<li> 
UIST 2014 Student Inovation Conference. <br/> Me and 2 other students attended the Student inovation conference at the ACM UIST (user interface, software, and technology) conference in Hawaii. We presented an application we developed for the <a href="http://kinoma.com/create/about/">Kinoma Create</a>, which used light sensors to detect whether a light was left on in any room in a house. While this was a crude prototype, it could be marketed towards blind people who wished to know if a sighted person left a light on anywhere in a house. Other applications include a network administrator diagnosing a router problem by querying the light sensor to see if an LED light is turned on. Really, anywhere where lights are on, and someone would like to know if that light is still on could use this technology to remotely check the status of the lights.
</li>
<li>
PHET simulations for blind or visually impaired people. <br/> I worked with Professor Clayton Lewis and a team of researchers to design sound based simulations to complement the phet simulations for physics. The <a href="https://phet.colorado.edu/">Phet</a> Simulations are an innovative way of teaching science to people, and allowing people to experiment with science in a way that doesn't exist with plain paper diagrams. Unfortunately, most of these simulations are visual in nature. The work I did with Clayton, helped establish a way for making simulations be accessible to people with visual impairments. 
</li>
</ul>
I also enjoy writing random pieces of software, usually to help me solve problems. 
You can find my pieces of software on the Software page of my main site. Notable pieces of software I have written include: <ul>
<li>a weather app, which opperates from the web, requiring nothing but a web browser. </li>
<li>a utility to generate command line based ui's driven by menus, with an emphasis on being easy for the programmer to use, and which could be easily extended to present the ui in a gui format.</li>
<li> an address book organizer, which helps remove duplicate entries from address books in table based formats.</li>
<li> A clock that chimes each fifteen minutes, and chimes out the hour, which scilently runs in the backround on the users computer.</li>
<li> A program that presents flash cards to a user and allows the user to reveal a card if need be. I use it for studying a lot.</li>
<li> an app that generates words to help the user type. It learns the users most mistyped letters  and generates a word that makes the user type there worst performing letters.</li>
<li> A game that emulates whack a mole for blind people.</li>
<li> A guessing game which uses tones to represent numbers between 1 and 100.</li>
</ul>
I am also activly working on a set of tutorials to teach  Blind people how to use Google apps. Many of the Google apps work differently than other applications, and they require knowing how to use a screen reader and web browser accurately. Therefore, I created some audio tutorials to assist in teaching screen reader users on the transition to working with cloud based web applications like google apps. I received lotts of positive feedback from users of the apps. The tutorials can be found at bit.ly/GoogleAppsTutorials. 
I have skied since age 3, and enjoy skiing a lot. I have skied every run at Winter Park Resort.
</p>

{% endblock %}