{% extends "personal/base.htm" %}
{% block title %} Home {% endblock %}
{% block header %}Derek Riemer's Web Page.{% endblock %}
{% block main %}
<p>
Hi, I am Derek Riemer.
You are on my homepage. 
<ul>
<li> If you are interested in seeing my engineering honors portfolio or resume,  You can find it by clicking the <q> Back To derekriemer.info</q> page.</li>
<li>If you want to know more about me, click on my bio. </li>
<li>If you want to get in touch, click on my contact page. </li>
<li> If you want to know about some of my hobbies, then click on my handy dandy hobbies page.</li>
<li> If you want to see random pieces of software I have written, then go to my software page.  This page can also be found on the main homepage of derekriemer.info.</li>
<li> If you would like to see some of my poetry, then click on my poetry page. (I am the 4th worst poet in the universe, behind the Vogons, and the two extinct earthling poets). If you don't know what I am talking about, then read the Hitchhikers Guide to the Galixy. It's a fun book.</li>

<li> If you want to have a cheese burger, then go eat a cheese burger! Unfortunately I don't have a page that can make you a cheese burger quite yet. Give me a few years and maybe I can 3d print you one from my awesome website. </li>
</ul>

</p>

{% endblock %}