{% extends "derek_site/base.htm" %}
{% block title %} Change password. {% endblock %}
{% block header %} Change password. {% endblock %}
{% block main %}
{% if user.is_authenticated %}
<h2>Dear {{user.username}},<br/></h2>
<p>Ah, So, you wish to reset your password? No problem! Please fill out the form below.</p>
{% if form.errors %}
<p> Password reset failed! Please try again.</p>
{% endif %}

<form action="{% url 'password_change' %}" method="post">
{% csrf_token %}
{{form}}
<input type="submit" value="submit">
</form> 
{% else %}
<p> Sory. You need to be logged in to use this. </p>
{% endif %}
{% endblock %}